.sidekick-frame .sidekick-frame__content {
    margin: 0 !important;
    background: #0b0a09 !important;
}

.sidekick-iframe {
    height: 80vh;
    width: 100%;
    border: 0;
}

.ui-dialog .ui-widget-content.ui-dialog-content {
    padding: 0 !important;
    background: #0b0a09;
}

/* workaround for claro theme */
.sidekick-button-icon.button {
    padding-right: 40px;
}

.sidekick-button-icon {
    padding-right: 25px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:%2355565b}</style><path d="M496 448H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h480c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zm-304-64l-64-32 64-32 32-64 32 64 64 32-64 32-16 32h208l-86.41-201.63a63.955 63.955 0 0 1-1.89-45.45L416 0 228.42 107.19a127.989 127.989 0 0 0-53.46 59.15L64 416h144l-16-32zm64-224l16-32 16 32 32 16-32 16-16 32-16-32-32-16 32-16z"/></svg>') no-repeat right;
    background-size: 20px;
    background-position: 208px 13px;
}

.sidekick-iframe-modal {
    width: 100% !important;
    height: 50vh !important;
}

.sidekick-suggestions{
    position: relative;
}

.custom-autocomplete {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: max-content;
}

.custom-option {
    padding: 10px;
    cursor: pointer;
}

.custom-option:hover {
    background-color: #f0f0f0;
}